<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre el proyecto</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/all.min.css') }}">
</head>
<body>
    <header>
        <h1><a href="/">Sobre el proyecto</a></h1>
        <h2>Proyecto climatact</h2>
    </header>
    <main>
        <div class="descripcion-footer">
            <p>Este proyecto fue creado por Pedro Gómez Revilla,para tanto aprender como prácticar el uso de FastAPI y Jinja2
                para la creación de aplicaciones web.
            </p>
            <p>Es un proyecto muy simple y de diseño simplista también</p>
            <p>pero que cumple con su propósito de mostrar el clima de una ciudad</p>
        </div>

    </main>
</body>
</html>